footer {
    width: 100%;
    background-color: @footerBgColor;
    color: @footerFontColor;
    text-align: center;
    height: 5rem;
    font-stretch: condensed;
    font-weight: 100;
    .flexbox(row nowrap, center, center, center);
}