.mainHeader {
    width: 100%;
    height: 500px;
    background-image: url("/images/bimo-luki-mwHzM7qB7vk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 3rem;

    .backgroundColor {
        height: 100%;
        @media @smTabletMQ {
            background-color: @imageCover;
        }

        .center {
            height: 100%;
            .flexbox(column nowrap, center, center, center);

            .transparentBox {
                background-color: @transparentBox;
                width: 90%;
                padding: 5rem 1rem;
                .flexbox(column nowrap, center, center, center);
                border-radius: 2rem;
                @media @smTabletMQ {
                    background-color: transparent;
                }

                h1 {
                    color: @headerText;
                    @media @smTabletMQ {
                        font-size: 12rem;
                    }
                    @media @lgTabletMQ {
                        font-size: 15rem;
                    }
                }

                h2 {
                    color: @headerSmText;
                    margin-top: 5rem;
                    font-size: 5rem;
                    font-stretch: condensed;
                    @media @smTabletMQ {
                        font-size: 6rem;
                    }
                    @media @lgTabletMQ {
                        font-size: 7rem;
                    }
                }
            }
        }
    }
}

main {
    #iconSection {
        .flexbox(column nowrap, center, center, center);
        @media @smTabletMQ {
            .flexbox(row wrap, space-evenly, center, center);
        }

        section {
            .flexbox(column nowrap, center, center, center);
            width: 100%;
            padding: 1rem 3rem;
            margin: 0 2rem;
            @media @smTabletMQ {
                max-width: 30rem;
                padding: 0;
                margin: 2rem 2rem 0 2rem;
            }

            &:first-child {
                margin-top: 2rem;
            }
            .iconContainer {
                background-color: rgb(186, 220, 240);
                border-radius: 50%;
                padding: 6rem;
                width: 30rem;
                .flexbox(column nowrap, center, center, center);

                i {
                    font-size: 15rem;
                    color: @icons;
                }
            }
            h2 {
                margin: 1rem 0;
            }
        }
    }
    #appFeatures {
        .flexbox(column nowrap, center, center, center);
             
        .flip {
            .flexbox(column-reverse nowrap, center, center, center);
        }
        .features {
            @media @smTabletMQ {
                .flexbox(row nowrap, space-evenly, center, center);
            }
        }  
        div {
            padding: 0 3rem;
            @media @smTabletMQ {
                width: 40%;
            }
        }
        img {
            margin: 2rem 0;
            border-radius: 1rem;
            @media @smTabletMQ {
                width: 60%;
            }
        }
    }
}