.landing {

    .mainHeader {
        background-image: url("../../images/bimo-luki-mwHzM7qB7vk-unsplash.jpg");
        background-position: center;
    }

    main {

        #tipSteps {
            margin: 10rem 0 7rem 0;


            @media @lgTabletMQ {
                margin: 10rem 0 7rem 0;
            }

            div {
                .flexbox(column nowrap, center, center, center);

                h2 {
                    font-size: 5rem;
                    margin: 0 0 3rem 0;

                    @media @smTabletMQ {
                        font-size: 6rem;
                        margin: 0 0 2rem 0;
                    }

                    @media @lgTabletMQ {
                        font-size: 8rem;
                        margin: 0 0 6rem 0;
                    }
                }

                div {
                    font-size: 2rem;
                    .flexbox(column nowrap, center, center, center);

                    @media @smTabletMQ {
                        font-size: 3rem;
                        width: 100%;
                    }

                    @media @lgTabletMQ {
                        .flexbox(row nowrap, space-around, center, center);
                        width: 100%;
                    }

                    p {
                        font-size: 3rem;
                        margin: 1rem;

                        @media @smTabletMQ {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }

        #appFeatures {
            margin: 3rem 0 3rem 0;

            .flip {
                margin-top: 4rem;
                .flexbox(column-reverse nowrap, center, center, center);
            }

            .features {
                @media @lgTabletMQ {
                    .flexbox(row nowrap, space-evenly, center, center);
                }

                h2 {
                    margin: 2rem 0;
                    text-transform: uppercase;
                }
            }

            div {
                padding: 0 3rem;
                @media @lgTabletMQ {
                    width: 40%;
                }
            }

            img {
                margin: 2rem 0;
                @media @lgTabletMQ {
                    width: 40%;
                    border-radius: 1rem;
                    margin: 3rem;
                }
            }
        }

        #iconSection {
            margin: 7rem 0;
            .flexbox(column nowrap, flex-start, stretch, stretch);
            @media @smTabletMQ {
                .flexbox(row wrap, space-evenly, flex-start, center);
            }
            @media @lgTabletMQ {
                margin: 9rem 0 6rem 0;
            }

            section {
                .flexbox(column nowrap, flex-start, center, center);
                @media @smTabletMQ {
                    max-width: 30rem;
                    margin-bottom: 3rem;
                }

                .iconContainer {
                    background-color: rgb(186, 220, 240);
                    border-radius: 50%;
                    width: 30rem;
                    height: 30rem;

                    .flexbox(column nowrap, center, center, center);

                    i {
                        font-size: 15rem;
                        color: @icons;
                    }
                }

                h2 {
                    margin: 3rem 0;
                    text-transform: uppercase;
                }
                p {
                    margin-bottom: 3rem;
                    padding: 0 3rem;
                    @media @smTabletMQ {
                        padding: 0 1rem;
                    }
                    @media @lgTabletMQ {
                        padding: 0;
                    }
                }
            }
        }

        #signUp {
            .flexbox(column wrap, center, center, center);

            div {
                background-color: @black;
                color: white;
                border-radius: 2rem;
                width: 90%;
                max-width: 650px;
                padding: 7rem 0;
                .flexbox(column wrap, center, center, center);
                @media @smTabletMQ {
                    padding: 7rem 6rem;
                }

                a {
                    margin-top: 5rem;
                    .button(@signUpButtonHoverColor, @signUpFontHoverColor, @signUpButtonHoverColor, @signUpFontHoverColor, 4rem, 3rem, 0.7rem);
                    border: 2px solid @signUpBorderColor;
                    text-decoration: none;
                }
            }
        }
    }
}