.mainNav {
    .flexbox(row nowrap, flex-end, center, center);
    margin: 0 2rem;

    a {
        font-size: 2.5rem;
        margin: 1rem 1rem;
        text-decoration: none;
        color: @navFontColor;
        @media @smTabletMQ {
            font-size: 2rem;
        }
        
        &:hover {
            color: @navHoverColor;
        }
    }
    .signupNav {
        .button(@signUpButtonColor, @navFontColor, @signUpButtonHoverColor, @signUpFontHoverColor, 1rem, 2rem, 0.7rem);
        border: 2px solid @signUpBorderColor;

        &:hover {
            border: 2px solid @signUpHoverBorderColor;
        }
    }
}
