// navigational formatting for main pages
.mainNav {
    .flexbox(row nowrap, center, center, center);
    margin: 0 2rem;
    .signupNavButton();
    @media @smTabletMQ {
        .flexbox(row nowrap, flex-end, center, center);
    }

    a {
        font-size: 2rem;
        margin: 1rem 1rem;
        text-decoration: none;
        color: @navFontColor;

        &:hover {
            color: @navHoverColor;
        }
    }
}

// formatting specifically for the attribution page
.attribution {
    .mainNav {
        .signupNavButton();     

        a {
            color: @attNavFontColor;

            &:hover {
                color: @attNavFontHoverColor;
            }
        }
    }
}