// color assignments
@bgColor: @white;
@fontColor: @black;
// header
@navFontColor: @white;
@navHoverColor: @lightGreen;
@headerText: @white;
@headerSmText: @lightGreen;
@transparentBox: @darkGrayTransparent;
@imageCover: @grayTransparent;
// signup button
@signUpButtonColor: @black;
@signUpButtonHoverColor: @boneWhite;
@signUpFontHoverColor: @black;
@signUpBorderColor: @black;
@signUpHoverBorderColor: @black;
// icons
@icons: @darkBlue;
// about page links
@aboutLink: @medGreen;
@aboutLinkHover: @medBlue;
// attirbution page header
@attNavFontColor: @black;
@attNavFontHoverColor: @medGreen;
// footer
@footerBgColor: @black;
@footerFontColor: @white;
@footerLink: @white;
@footerLinkHover: @lightGreen;

// colors
@black: rgb(54, 54, 54);
@white: white;
@boneWhite: rgb(226, 226, 226);
@lightGreen: rgb(177, 221, 171);
@medGreen: rgb(109, 138, 105);
@darkBlue: rgb(71, 95, 199);
@medBlue: rgb(96, 115, 201);
@grayTransparent: rgba(100, 100, 100, 0.6);
@darkGrayTransparent: rgba(43, 43, 43, 0.8);

// media queries
@mobileMQ: ~"only screen and (min-width: 1px)";
@smTabletMQ: ~"only screen and (min-width: 501px)";
@lgTabletMQ: ~"only screen and (min-width: 800px)";
@desktopMQ: ~"only screen and (min-width: 1000px)";