/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #363636;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10rem;
}
h2,
h3,
h4 {
  padding-bottom: 1rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.7rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
}
.mainNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin: 0 2rem;
}
.mainNav a {
  font-size: 2.5rem;
  margin: 1rem 1rem;
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 501px) {
  .mainNav a {
    font-size: 2rem;
  }
}
.mainNav a:hover {
  color: #b1ddab;
}
.mainNav .signupNav {
  background-color: #363636;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid #363636;
}
.mainNav .signupNav:hover {
  background-color: #e2e2e2;
  color: #363636;
}
.mainNav .signupNav:hover {
  border: 2px solid #363636;
}
footer {
  width: 100%;
  background-color: #363636;
  color: white;
  text-align: center;
  height: 5rem;
  font-stretch: condensed;
  font-weight: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.landing .mainHeader {
  width: 100%;
  height: 500px;
  background-image: url("/images/bimo-luki-mwHzM7qB7vk-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.landing .mainHeader .backgroundColor {
  height: 100%;
}
@media only screen and (min-width: 501px) {
  .landing .mainHeader .backgroundColor {
    background-color: rgba(100, 100, 100, 0.6);
  }
}
.landing .mainHeader .backgroundColor .center {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.landing .mainHeader .backgroundColor .center .transparentBox {
  background-color: rgba(43, 43, 43, 0.8);
  width: 90%;
  padding: 5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
}
@media only screen and (min-width: 501px) {
  .landing .mainHeader .backgroundColor .center .transparentBox {
    background-color: transparent;
  }
}
.landing .mainHeader .backgroundColor .center .transparentBox h1 {
  color: white;
}
@media only screen and (min-width: 501px) {
  .landing .mainHeader .backgroundColor .center .transparentBox h1 {
    font-size: 12rem;
  }
}
@media only screen and (min-width: 800px) {
  .landing .mainHeader .backgroundColor .center .transparentBox h1 {
    font-size: 15rem;
  }
}
.landing .mainHeader .backgroundColor .center .transparentBox h2 {
  color: #b1ddab;
  margin-top: 5rem;
  font-size: 5rem;
  font-stretch: condensed;
}
@media only screen and (min-width: 501px) {
  .landing .mainHeader .backgroundColor .center .transparentBox h2 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 800px) {
  .landing .mainHeader .backgroundColor .center .transparentBox h2 {
    font-size: 7rem;
  }
}
.landing main #tipSteps {
  margin-top: 10rem;
}
@media only screen and (min-width: 800px) {
  .landing main #tipSteps {
    margin: 15rem 0;
  }
}
.landing main #tipSteps div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.landing main #tipSteps div h2 {
  font-size: 5rem;
  margin: 0 0 3rem 0;
}
@media only screen and (min-width: 501px) {
  .landing main #tipSteps div h2 {
    font-size: 6rem;
    margin: 0 0 7rem 0;
  }
}
@media only screen and (min-width: 800px) {
  .landing main #tipSteps div h2 {
    font-size: 8rem;
  }
}
.landing main #tipSteps div div {
  font-size: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  .landing main #tipSteps div div {
    font-size: 3rem;
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .landing main #tipSteps div div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
  }
}
.landing main #tipSteps div div p {
  font-size: 3rem;
  margin: 1rem;
}
@media only screen and (min-width: 501px) {
  .landing main #tipSteps div div p {
    font-size: 3rem;
  }
}
.landing main #appFeatures {
  margin: 5rem 0 3rem 0;
}
.landing main #appFeatures .flip {
  margin-top: 4rem;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  .landing main #appFeatures .features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
}
.landing main #appFeatures .features h2 {
  text-transform: uppercase;
}
.landing main #appFeatures div {
  padding: 0 3rem;
}
@media only screen and (min-width: 501px) {
  .landing main #appFeatures div {
    width: 40%;
  }
}
.landing main #appFeatures img {
  margin: 2rem 0;
}
@media only screen and (min-width: 501px) {
  .landing main #appFeatures img {
    width: 60%;
    border-radius: 1rem;
    margin: 3rem;
  }
}
.landing main #iconSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  .landing main #iconSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
}
@media only screen and (min-width: 800px) {
  .landing main #iconSection {
    margin: 9rem 0 12rem 0;
  }
}
.landing main #iconSection section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1rem 3rem;
  margin: 0 2rem;
}
@media only screen and (min-width: 501px) {
  .landing main #iconSection section {
    max-width: 30rem;
    padding: 0;
    margin: 2rem 2rem 0 2rem;
  }
}
.landing main #iconSection section:first-child {
  margin-top: 2rem;
}
.landing main #iconSection section .iconContainer {
  background-color: #badcf0;
  border-radius: 50%;
  padding: 6rem;
  width: 30rem;
  margin: 3rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.landing main #iconSection section .iconContainer i {
  font-size: 15rem;
  color: #475fc7;
}
.landing main #iconSection section h2 {
  margin: 3rem 0;
  text-transform: uppercase;
}
.landing main #signUp {
  margin: 6rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.landing main #signUp div {
  background-color: #363636;
  color: white;
  border-radius: 2rem;
  width: 90%;
  max-width: 650px;
  padding: 7rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  .landing main #signUp div {
    padding: 7rem 6rem;
  }
}
.landing main #signUp div a {
  margin-top: 5rem;
  background-color: #e2e2e2;
  color: #363636;
  padding: 4rem;
  font-size: 3rem;
  border-radius: 0.7rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid #363636;
  text-decoration: none;
}
.landing main #signUp div a:hover {
  background-color: #e2e2e2;
  color: #363636;
}
.mainHeader {
  width: 100%;
  height: 500px;
  background-image: url("/images/bimo-luki-mwHzM7qB7vk-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.mainHeader .backgroundColor {
  height: 100%;
}
@media only screen and (min-width: 501px) {
  .mainHeader .backgroundColor {
    background-color: rgba(100, 100, 100, 0.6);
  }
}
.mainHeader .backgroundColor .center {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.mainHeader .backgroundColor .center .transparentBox {
  background-color: rgba(43, 43, 43, 0.8);
  width: 90%;
  padding: 5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
}
@media only screen and (min-width: 501px) {
  .mainHeader .backgroundColor .center .transparentBox {
    background-color: transparent;
  }
}
.mainHeader .backgroundColor .center .transparentBox h1 {
  color: white;
}
@media only screen and (min-width: 501px) {
  .mainHeader .backgroundColor .center .transparentBox h1 {
    font-size: 12rem;
  }
}
@media only screen and (min-width: 800px) {
  .mainHeader .backgroundColor .center .transparentBox h1 {
    font-size: 15rem;
  }
}
.mainHeader .backgroundColor .center .transparentBox h2 {
  color: #b1ddab;
  margin-top: 5rem;
  font-size: 5rem;
  font-stretch: condensed;
}
@media only screen and (min-width: 501px) {
  .mainHeader .backgroundColor .center .transparentBox h2 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 800px) {
  .mainHeader .backgroundColor .center .transparentBox h2 {
    font-size: 7rem;
  }
}
main #tipSteps {
  margin-top: 10rem;
}
@media only screen and (min-width: 800px) {
  main #tipSteps {
    margin: 15rem 0;
  }
}
main #tipSteps div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
main #tipSteps div h2 {
  font-size: 5rem;
  margin: 0 0 3rem 0;
}
@media only screen and (min-width: 501px) {
  main #tipSteps div h2 {
    font-size: 6rem;
    margin: 0 0 7rem 0;
  }
}
@media only screen and (min-width: 800px) {
  main #tipSteps div h2 {
    font-size: 8rem;
  }
}
main #tipSteps div div {
  font-size: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  main #tipSteps div div {
    font-size: 3rem;
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  main #tipSteps div div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
  }
}
main #tipSteps div div p {
  font-size: 3rem;
  margin: 1rem;
}
@media only screen and (min-width: 501px) {
  main #tipSteps div div p {
    font-size: 3rem;
  }
}
main #appFeatures {
  margin: 5rem 0 3rem 0;
}
main #appFeatures .flip {
  margin-top: 4rem;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  main #appFeatures .features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
}
main #appFeatures .features h2 {
  text-transform: uppercase;
}
main #appFeatures div {
  padding: 0 3rem;
}
@media only screen and (min-width: 501px) {
  main #appFeatures div {
    width: 40%;
  }
}
main #appFeatures img {
  margin: 2rem 0;
}
@media only screen and (min-width: 501px) {
  main #appFeatures img {
    width: 60%;
    border-radius: 1rem;
    margin: 3rem;
  }
}
main #iconSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  main #iconSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
}
@media only screen and (min-width: 800px) {
  main #iconSection {
    margin: 9rem 0 12rem 0;
  }
}
main #iconSection section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1rem 3rem;
  margin: 0 2rem;
}
@media only screen and (min-width: 501px) {
  main #iconSection section {
    max-width: 30rem;
    padding: 0;
    margin: 2rem 2rem 0 2rem;
  }
}
main #iconSection section:first-child {
  margin-top: 2rem;
}
main #iconSection section .iconContainer {
  background-color: #badcf0;
  border-radius: 50%;
  padding: 6rem;
  width: 30rem;
  margin: 3rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
main #iconSection section .iconContainer i {
  font-size: 15rem;
  color: #475fc7;
}
main #iconSection section h2 {
  margin: 3rem 0;
  text-transform: uppercase;
}
main #signUp {
  margin: 6rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
main #signUp div {
  background-color: #363636;
  color: white;
  border-radius: 2rem;
  width: 90%;
  max-width: 650px;
  padding: 7rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 501px) {
  main #signUp div {
    padding: 7rem 6rem;
  }
}
main #signUp div a {
  margin-top: 5rem;
  background-color: #e2e2e2;
  color: #363636;
  padding: 4rem;
  font-size: 3rem;
  border-radius: 0.7rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid #363636;
  text-decoration: none;
}
main #signUp div a:hover {
  background-color: #e2e2e2;
  color: #363636;
}
.aboutUs .mainHeader {
  width: 100%;
  height: 500px;
  background-image: url("/images/joey-banks-z0Nn2KNHvdU-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.aboutUs .mainHeader .backgroundColor {
  height: 100%;
}
@media only screen and (min-width: 501px) {
  .aboutUs .mainHeader .backgroundColor {
    background-color: rgba(100, 100, 100, 0.6);
  }
}
.aboutUs .mainHeader .backgroundColor .center {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.aboutUs .mainHeader .backgroundColor .center .transparentBox {
  background-color: rgba(43, 43, 43, 0.8);
  width: 90%;
  padding: 5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
}
@media only screen and (min-width: 501px) {
  .aboutUs .mainHeader .backgroundColor .center .transparentBox {
    background-color: transparent;
  }
}
.aboutUs .mainHeader .backgroundColor .center .transparentBox h1 {
  color: white;
}
@media only screen and (min-width: 501px) {
  .aboutUs .mainHeader .backgroundColor .center .transparentBox h1 {
    font-size: 12rem;
  }
}
@media only screen and (min-width: 800px) {
  .aboutUs .mainHeader .backgroundColor .center .transparentBox h1 {
    font-size: 15rem;
  }
}
.aboutUs .mainHeader .backgroundColor .center .transparentBox h2 {
  color: #b1ddab;
  margin-top: 5rem;
  font-size: 5rem;
  font-stretch: condensed;
}
@media only screen and (min-width: 501px) {
  .aboutUs .mainHeader .backgroundColor .center .transparentBox h2 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 800px) {
  .aboutUs .mainHeader .backgroundColor .center .transparentBox h2 {
    font-size: 7rem;
  }
}
.aboutUs main {
  padding: 5%;
}
.aboutUs main h2 {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 4rem;
}
.aboutUs main #everyone {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.aboutUs main #everyone .usContainer {
  margin: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.aboutUs main #everyone .usContainer #brett {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/T4JUEB3ME-UMDECFQ10-897d3c80b2b0-512.jpg");
}
.aboutUs main #everyone .usContainer #shiva {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/T4JUEB3ME-UJ85BKJ2D-891ffcc3ccce-512.png");
}
.aboutUs main #everyone .usContainer #nicholas {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/T4JUEB3ME-UJ9PRPB7H-01a2702a44b8-512.jpg");
}
.aboutUs main #everyone .usContainer #brian {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/T4JUEB3ME-UG40NEE8L-8e8806d72c28-512.png");
}
.aboutUs main #everyone .usContainer #kayla {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/T4JUEB3ME-UH2046CPN-be0c25886eac-512.png");
}
.aboutUs main #everyone .usContainer #lee {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/T4JUEB3ME-UMQTS14LV-g13b3b708a55-512.jpg");
}
.aboutUs main #everyone .usContainer p {
  font-size: 3rem;
}
